.game-container {
  width: 85rem;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .game-container {
    width: 75rem;
  }
}

@media (max-width: 1200px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  :root {
    font-size: 12px;
  }

  .game-container {
    width: 100%;
  }
}

.transition {
  transition: 0.2s;
}

.gamestats {
  display: inline-block;
  transition: 0.2s;
  font-size: 0.8em;
}

.gamestats.gamestats-highlight {
  box-shadow: 0 0 0em 0.5em #0006;
}

.gamestats > span {
  display: inline-block;
}

.gamestats > span:not(:last-child) {
  margin-right: -1.1em;
}

.word {
  margin: 0 0.2em 0.4em 0.2em;
  width: 11em;
  outline: 0;
  transition: 0.2s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.word.word-highlight {
  box-shadow: 0 0 0em 0.5em #0006;
}

.word-bg-neutral {
  background-color: #e7e2cc;
}

.word-cover {
  transition: 0.2s;
  transform-origin: top;
  z-index: 1;
  text-shadow: 0 0 1em #fff;
}

.word > .word-cover:focus,
.word:hover > .word-cover {
  transform: perspective(25em) rotateX(55deg);
}

.word > .word-cover.word-open {
  transform: perspective(25em) rotateX(65deg);
}

.word-marker {
  float: left;
  margin: 0 0.1em 0.1em 0;
}

.word-word {
  margin: 3rem 0 0.5rem 0;
}

@media (min-width: 1400px) {
  .word {
    margin: 0 0.5em 1em 0.5em;
    width: 12.5em;
  }

  .word-word {
    margin: 3rem 1rem 0.5rem 1rem;
    border-radius: 0.25rem;
  }
}

.hintform > .hintform-hint {
  flex: 0 0 16em;
  text-transform: uppercase;
}

.hintform > .hintform-hint::placeholder {
  text-transform: none;
}

.hintform > .hintform-number {
  flex: 0 0 8em;
}

.rotate-180 {
  transform: rotate(180deg);
}
